:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

select {
  display:block;
  cursor:pointer;
  position:relative;
  user-select:none;
  min-width:100%;
  overflow:hidden;
  display:block;
  white-space:nowrap;
  flex:1 1 auto;
  text-overflow:ellipsis;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
  top:50%;
}